<div class="container-fluid  p-0">
    <div class="row">
        <div class="col-lg-7 p-0">
            <img src="assets/images/notification.svg " class="img-fluid w-100 imgh" alt="" srcset="">
        </div>
        <div class="col-lg-5 welcome-round" style="background-color: #253DC0;;">

            <div class="roundoff">
                <div class="row">
                    <img src="assets/images/logo.png" alt="" class="d-none d-lg-block logo mx-auto firstimg" srcset="">
                </div>
                <div class="row px-3 py-2">
                    <div>
                        <h2 class="text-white"> Inspire Change. Uplift Humanity.</h2>
                        <p class="text-white my-3">Quase helps you help others by offering its audience a non-profit
                            aggregator platform that helps donors, supporters and volunteers connect and engage with
                            their choice of NGOs without intermediaries.</p>
                    </div>
                </div>
                <div class="row px-3 py-4">
                    <button type="button" class="btn btn-warning getNotificationButton mx-auto  btn-block  mt-3 mb-3" (click)="saveData(true)"><a
                            class="text-decoration-none text-white" >Get
                            notification</a></button>
                    <button type="button" class="btn btn-light maybeLaterButton mx-auto  btn-blockmt-1 mb-2" (click)="saveData(false)"><a
                            class="text-decoration-none" 
                            style="color: rgb(255, 255, 255);">May be Later</a></button>
                </div>
            </div>

        </div>
    </div>