

<!-- fontawesome CDN -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="container-fluid  p-0">
  <div class="row">
      <div class="col-lg-7 p-0">
          <img src="assets/images/congratulation.svg " class="img-fluid w-100 imgh"   alt="" srcset="">
      </div>
      <div class="col-lg-5 welcome-round" style="background-color: #253DC0;;">
    
          <div class="roundoff" >
              <div class="row">
                  <img src="assets/images/logo.png" alt="" class="d-none d-lg-block logo mx-auto firstimg" srcset="">
              </div>
              <div class="row px-3 py-2">
              <div>
                  <h2 class="text-white">Congratulation</h2>
                  <p class="text-white my-3">Thank you! Your application has been sent to an NGO. Incase the NGO Whishes to speak to you we wil arrange an online meeting for you both to take it further. Stay tuned!</p>
              </div>
              </div>      
              
              <div class="row px-3 py-2">
              <div>
                  
                  <p class="text-white my-3"> <i class="fas fa-check-circle mt-1"></i> Thank you! Your application has been sent to an NGO. </p> 
                  
                  <p class="text-white my-3"> <i class="fas fa-check-circle"></i> Thank you! Your application has been sent to an NGO. </p>
              </div>
              </div>
              <div class="row px-3 py-2">
                  <button type="button" class="btn btn-warning mx-auto  btn-block  mt-3 mb-3"><a
                          class="text-decoration-none text-white" routerLink="/dashboard">Learn About Volunteering Program</a></button>
                          <!-- <button type="button" class="btn btn-light mx-auto  btn-blockmt-1 mb-2"><a
                              class="text-decoration-none" routerLink="/dashboard" style="color: rgb(255, 255, 255);">May be Later</a></button> -->
              </div>
          </div>
      
  </div>
  </div>