<div class="container-fluid  p-0">
    <div class="row">
        <div class="col-lg-7 p-0" id="imghh" >
            <img src="assets/images/welcome.svg " id="imgh" class="" alt="" srcset="">
        </div>
        <div class="col-lg-5 welcome-round">
      
            <div class="roundoff" >
                <div class="row">
                    <img src="assets/images/logo.png" alt="" class="d-none d-lg-block logo mx-auto firstimg" srcset="">
                </div>
                <div class="row px-3 py-2">
                <div>
                    <h2> Inspire Change. Uplift Humanity.</h2>
                    <p class="text-muted my-3">Quase helps you help others by offering its audience a non-profit aggregator platform that helps donors, supporters and volunteers connect and engage with their choice of NGOs without intermediaries.</p>
                </div>
                </div>
                <div class="row px-3 py-2">
                    <button type="button" class="btn btn-warning mx-auto  btn-block  mt-3 mb-3"><a
                            class="text-decoration-none text-white" routerLink="/auth/register">Create Account</a></button>
                            <button type="button" class="btn btn-light mx-auto  btn-blockmt-1 mb-2"><a
                                class="text-decoration-none"routerLink="/auth/login" style="color: black;"> Login</a></button>
                </div>
            </div>
        
    </div>
    </div>


<!-- mobile code -->
<!-- <div class="container-fluid .d-none .d-sm-block .d-md-none p-0">
    <div class="">
        <div class="col-lg-7 p-0">
            <img src="assets/images/welcome.svg" class="img-fluid h-5o" alt="" srcset="">
        </div>
        <div class="col-lg-5 p-0">
            <div class="row">
                <img src="assets/images/logo.png" alt="" class="d-none d-lg-block logo" srcset="">
            </div>
            <div class="roundeffect">
                <div class="">
                    <h2 class=" fw-bolder fs-1"> Inspire Change. Uplift Humanity.</h2>
                    <p class="text-muted font-weight-regular sub--title">Quase helps you help others by offering its audience a non-profit aggregator platform that helps donors, supporters and volunteers connect and engage with their choice of NGOs without intermediaries.</p>
                </div>
                <div class="footer--notch">
                    <button type="button" class="btn btn-warning btn-lg btn-block mx-auto mb-4"><a routerLink="/auth/register" class="text-decoration-none text-white">Create
                        Account</a></button>
                    <a routerLink="/auth/login" class="text-decoration-none seccolor-txt">Login</a>
                    <div class="bottom--notch "></div>

                </div>
            </div>
        </div>
    </div>
</div> -->