<app-navbar (searchEventMobile)="searchQuery($event)"> </app-navbar>

<div class="container PaddingFormNavBar">
  <!-- row -->

  <div class="my-5">
    <div class="flexDisplayMobileHeader">
      <h2 class="text-center mb-3 fontSizeMobile">Volunteer Online</h2>
      <button (click)="doFilter()" style="border: 0; background-color: transparent; margin-bottom: 16px" id="tags"
        type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#F7A212"
          stroke="#F7A212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-filter">
          <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
        </svg>
      </button>
    </div>
    <div class="text-center horizontal-scroll">
      <button class="btn btn-secondary m-1 change-width-btn"
        [ngClass]="{ activeFilter: arrCategory.includes(tag.title) }" id="tags" *ngFor="let tag of tags" type="submit"
        (click)="filterGig(tag.title)">
        {{ tag.title }}
      </button>
    </div>
  </div>
  <div class="search-results text-capitalize" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="10"
    (scrolled)="onScroll()">
    <div class="container p-1">
      <div class="row mt-4">
        <ng-container *ngIf="gigs && gigs.length > 0; else gigsNotFound">
          <div *ngFor="let gig of gigs" class="col-sm-12 col-lg-4 d-flex flex-column">
            <!-- fundraising -->
            <div *ngIf="gig.type == 'fundraising'">
              <div class="card bg-yellow br-30 m-2">
                <img [src]="
                  gig.logo
                    ? gig.logo
                    : '../../../../../assets/images/gigAssets/cool-background.svg'
                " class="card-img-top p-2 br-30" alt="..." />
                <span class="badge badge-primary time-upper-span">
                  <i class="fas fa-clock"></i> {{ getDays(gig.createdAt) }} days
                  left</span>

                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h6 class="text-capitalize">
                        {{
                        gig.questionValues.fundraiserTitle
                        ? gig.questionValues.fundraiserTitle
                        : "Title"
                        }}
                      </h6>
                    </div>
                    <div>
                      <i _ngcontent-nhq-c248="" class="fas fa-share-alt"></i>
                    </div>
                  </div>
                  <div class="media media-sec-card mt-1 w-100">
                    <img class="rounded-circle mr-2" height="50" [src]="
                      gig.ngo.logo
                        ? gig.ngo.logo
                        : '../../../../../assets/images/gigAssets/trust.jpeg'
                    " alt="Generic placeholder image" />
                    <div class="media-body my-auto">
                      <h6 class="m-0" (click)="viewFoundraisingGig(gig)" role="button" class="text-capitalize">
                        {{ gig.ngo.name ? gig.ngo.name : "Gig Name" }}
                      </h6>
                      <p class="m-0 text-capitalize">
                        {{
                        gig.ngo.state
                        ? gig.ngo.state + " " + gig.ngo.country
                        : "State, Country"
                        }}
                      </p>
                    </div>
                  </div>
                  <div class="money-title my-3">
                    <div>
                      <span><sup> ₹</sup> {{ removeLastTwoDigits(gig.donates) }}</span> raised out of
                      {{ gig.questionValues.amount }}
                      <!-- need to know the ammount  -->
                    </div>
                    <div class="progress cardprogress my-2">
                      <div class="progress-bar cardprogress-bar" role="progressbar"
                        [ngStyle]="{ width: getPercentageOfDonation(gig) }" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                    <div class="text-center fs-xs">{{ gig.supporters }} Suppoters</div>
                    <!-- need to know Suppoters -->
                  </div>

                  <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-primary btn-sm accept shadow-sm text-white"
                      (click)="OpenDonationModal(gig._id, gig.ngo._id)">
                      Donate now
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <!-- fundraising -->

            <!-- single -->
            <div *ngIf="gig.type == 'singleVolunteering'">
              <div class="card bg-yellow br-30 m-2">
                <div class="media media-sec-card p-3">
                  <img class="rounded-circle mr-2" height="50"
                    [src]="gig.ngo.logo ? gig.ngo.logo:'../../../../../assets/images/gigAssets/trust.jpeg'"
                    alt="Generic placeholder image" />
                  <div class="media-body my-auto text-capitalize">
                    <h6 class="m-0">{{
                      gig.ngo.name ? gig.ngo.name : "Light of Life Trust"
                      }}</h6>
                    <p class="m-0"> {{
                      gig.ngo.state
                      ? gig.ngo.state + " " + gig.ngo.country
                      : "Haryana, Inida"
                      }}</p>
                  </div>
                </div>
                <img [src]="gig.logo ? gig.logo: '../../../../../assets/images/gigAssets/cool-background.svg'"
                  class="card-img-top p-3 br-30" alt="..." />

                <div class="card-body text-capitalize">
                  <h5> {{ gig.questionValues.needTitle ? gig.questionValues.needTitle :"Design a new Logo"}}</h5>
                  <div class="d-flex justify-content-between my-2">
                    <div><i class="fas fa-book-open pr-2 icon-c"></i> {{gig.category}} </div>
                    <div>
                      <i class="fa fa-clock pr-2 icon-c" aria-hidden="true"> </i>
                      {{getDate(gig.createdAt)}}
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mt-3">
                    <button type="button" class="btn btn-primary btn-sm accept shadow-sm text-white"
                      (click)="viewSingleGig(gig)">
                      View Detail
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- single -->

            <!-- multiple -->
            <div *ngIf="gig.type == 'multipleVolunteering'">
              <div class="card bg-yellow br-30 m-2">
                <div class="media media-sec-card p-3">
                  <img class="rounded-circle mr-2" height="50"
                    [src]="gig.ngo.logo ? gig.ngo.logo:'../../../../../assets/images/gigAssets/trust.jpeg'"
                    alt="Generic placeholder image " />
                  <div class="media-body my-auto text-capitalize">
                    <p>
                      {{
                      gig.ngo.name ? gig.ngo.name : "Light of Life Trust"
                      }}
                    </p>
                    <p class="tx-11 text-muted">
                      {{
                      gig.ngo.state
                      ? gig.ngo.state + " " + gig.ngo.country
                      : "Haryana, Inida"
                      }}
                    </p>
                  </div>
                </div>
                <img [src]="gig.logo ? gig.logo: '../../../../../assets/images/gigAssets/cool-background.svg'"
                  class="card-img-top p-3 br-30" alt="... " />

                <div style="    padding: 1.5rem 1rem;" class="card-body">
                  <h5 class="mb-3" style="font-weight: 900">
                    {{ gig.questionValues.eventType ? gig.questionValues.eventType : "Title Goes Here" }}
                  </h5>
                  <div class="row flexClassForGigs justify-content-around post-actions">
                    <a href="javascript:;" class="d-flex col-6 align-items-center text-muted">
                      <span><img src="assets/images/progress-bar.svg" alt="" srcset="" /></span>
                      <p class=" ml-2">


                        {{gig.requests}} of {{gig.questionValues.numberOfVolunteer}} volunteer

                      </p>
                    </a>

                    <a href="javascript:;" class="d-flex col-6 align-items-right text-muted">
                      <ul style="list-style: none;margin-bottom: 0px; padding: 0;     width: 100%;">
                        <li>
                          <p class=" d-inline">
                            <img src="assets/images/ri_time-line.svg" alt="" srcset="" />
                            {{getDate(gig.createdAt)}}
                          </p>
                          <p class="d-flex">
                            <img src="assets/images/ri_time-line.svg" alt="" srcset="" />
                            {{gig.category}}
                          </p>
                        </li>
                      </ul>
                    </a>
                  </div>
                  <div class="d-flex justify-content-center mt-3">
                    <button type="button " class="btn btn-primary btn-sm accept shadow-sm"
                      (click)="viewMultipleGig(gig)">
                      View Detail
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- multiple -->
          </div>
        </ng-container>

        <ng-template #gigsNotFound>
          <h1 class="noGig">No gigs found</h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<app-donation> </app-donation>
<!-- spinner -->
<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner bdOpacity="0.9" bdColor="" size="default" color="#f7a212" type="ball-pulse-sync" [fullScreen]="false">
    </ngx-spinner>
  </div>
</div>