<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-7 p-0  d-none d-lg-block">
            <img src="assets/images/1.jpg" class="img-fluid" alt="" srcset="">
        </div>
        <div class="col-lg-5">
            <div class="roundoff">
                <div class="row">
                    <div class="d-lg-none d-md-block">
                        <span class="feather icon-arrow-left text-center" style="font-size: 25px; font-weight: 900;"></span>
                    </div>
                </div>

                <div class="row">
                    <img src="assets/images/logo.png" alt="" class="d-none d-lg-block logo mx-auto firstimg" srcset="">
                </div>
                <div class="row px-3 py-2">
                    <div>
                        <h2>Personal Detail</h2>
                        <p class="text-muted my-3" id="profile2">Create your profile on Qause as a volunteer & connect with changemakers around the world!</p>
                    </div>
                </div>

                <div class="row  px-3 py-3">
                    <form class="w-100">
                        <div class="form-group ">
                            <label for="exampleInputEmail1" class="text-muted">Email address</label>
                            <input type="email" class="form-control inform  mx-auto" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="text-right mr-2"> <a>Phone</a></div>
                    </form>
                </div>

                <div class="row px-3 py-2">
                    <button type="button" class="btn btn-warning mx-auto  btn-block  mt-1 mb-2"><a
                            class="text-decoration-none text-white" routerLink="/card">Next</a></button>

                    <div class="px-5 w-100  my-2">
                        <h2 class="else"><span class="else2" style="text-align: center; background-color: #f9fafb;"> Or  </span></h2>
                    </div>

                    <button type="button" class="btn btn-light mx-auto  btn-blockmt-1 mb-2"><a
                                class="text-decoration-none" routerLink="/card" style="color: black;">  <img src="https://img.icons8.com/color/16/000000/google-logo.png" class="mr-3">  Continue with Google</a></button>

                </div>
                <div class="row bottomtext">
                    <div class="text-center my-3 py-3">
                        <p>New to Cause ?<a href="">Sign in</a></p>

                        <p class="text-muted text-center mt-2">By continuing to use mobile app, you agree to Qause’s <a href="">Terms</a> and <a href="">Privacy Policy</a></p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>