<div *ngIf="isMobileShow">
    <div class="footer-navigation">
        <div class="navigation" (click)="home()">
            <img src="../../../../assets/images/svg/home.svg" alt="Home">
            <p class="navigation-title">Home</p>
        </div>
        <div class="navigation" (click)="myFeed()">
            <img src="../../../../assets/images/svg/home.svg" alt="My Feed">
            <p class="navigation-title">My Feed</p>
        </div>
        <div class="navigation" (click)="support()">
            <img src="../../../../assets/images/svg/Support.svg" alt="Support">
            <p class="navigation-title">Support</p>
        </div>
        <div class="navigation"  (click)="profile()">
            <img src="../../../../assets/images/svg/profile.svg" alt="Profile">
            <p class="navigation-title">Profile</p>
        </div>
    </div>
</div>