<div class="container p-1">
    <div class="row">
        <div class="col-lg-6 mx-auto p-0 m-0">
            <div class="bg-main">
                <div class="bg-icons">
                    <div class="content-box">

                        <i class="fas fa-arrow-left"></i>
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div class="main-content m-radius">
                    <div style="
                    margin-bottom: 4rem;
                " class="head-profile-heading">

                        <div class="row">
                            <div class="media media-sec-s17">
                                <img class="rounded-circle mr-2 my-auto" height="40"
                                    src="assets/images/gigAssets/trust.jpeg" alt="Generic placeholder image" />
                                <div class="media-body">
                                    <h5 class="m-0">Light of life Trust</h5>
                                    <p class="m-0">Haryana,India</p>
                                </div>
                            </div>
                            <div class="col-md-12 my-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-warn btn-warning"><i
                                            class="fas fa-phone-alt"></i></button>
                                    <button type="button" class="btn btn-warn btn-warning"><i
                                            class="fas fa-comment"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="sec-18">
                                <h3 style="font-size: 24px;font-weight:900; color: black;">Support the differently abled
                                </h3>
                                <p style="    font-weight: 600;" class="my-1 ">Monday,March 14, 2022</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="sec-18">
                                <h6 class="mt-3">Description</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nisi similique
                                    sint incidunt facere dolorem dignissimos nulla impedit odit minus. Totam unde
                                    nesciunt sapiente quam officiis earum eos architecto fugiat.</p>
                            </div>
                        </div>



                        <div class="money-title mt-3">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span> ₹ 10,211</span> raised out of
                                </div>
                                <div>
                                    50,000
                                </div>

                            </div>
                            <div class="progress cardprogress w-100 my-2">
                                <div class="progress-bar cardprogress-bar" role="progressbar" style="width: 25%"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="text-center fs-xs"> <i class="fas fa-heart icon-r"></i> 147 Suppoters</div>
                        </div>


                        <div class="money-donate mt-3">
                            <div>
                                <p class="m-0"> Received Amount </p>
                            </div>
                            <div>
                                <h3><i class="fas fa-rupee-sign"></i> 10000.00 <i class="fa fa-check-circle"
                                        aria-hidden="true"></i></h3>
                            </div>
                        </div>


                        <div class="row">
                            <div class="sec-18">

                                <h6 class="mt-3">Donated on</h6>
                                <p>26 April 202</p>
                            </div>
                        </div>





                        <div class="money-donate mt-3">
                            <div>
                                <h6 class="">Attachment</h6>

                            </div>
                            <div class="my-2">
                                <h4><i class="fas fa-file-pdf fa-2x pr-3 icon-r"></i>80G Cerftificate</h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>