<app-navbar></app-navbar>
<div class="head-img">
  <img src="../../../../../../assets/images/loginimg.jpg" alt="" width="100%" height="100%"
    style="object-fit: cover;" />
</div>



<div class="col-lg-10 mx-auto">
  <!-- first row start  -->
  <div class="row">
    <div class="col-lg-3">
      <div class="py-3">
        <div class="row p-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
              <li class="breadcrumb-item"><a href="#" style="font-weight: 800;">Home</a></li>
              <li class="breadcrumb-item"><a href="#" style="font-weight: 800;">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page" style="font-weight: 800;">Data</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-1">
      <div class="date-p py-4">
        Monday, March 14, 2022

      </div>
    </div>
  </div>
    <!-- first row end  -->
    <!-- 2nd row start  -->
    <div class="row">
      <div class="col-lg-7">
        <div class="py-3">
          <div class="row p-0">
            <div class="date-p mt-2">
         
              <h3 class="text-black fw-bold my-2"> Help feed of poor patients who wait outside hospitals</h3>
            </div>
          </div>
          <div># Heading Title #</div>
          <div class="my-2 py-2 w-90 ">
            <textarea class="form-control " max="" rows="4" placeholder="Add Here" required=""></textarea>
            <div class="d-flex justify-content-between my-3">
              <div class="">
                <div class="col-auto my-1">
                  <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                  </div>
                </div>
              </div>
              <div class="">
                <i class="fas fa-paperclip px-3"></i>
                <button type="button" class="btn update-btn">Add Update</button>
              </div>
            </div>

          </div>

        </div>
        <div class="main-content">
          <div class="head-profile-heading">
            <div class="row">
              <div class="container">
                <div class="row">
                  <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Description">
                      <div class="content-1 my-5">
                        <div class="row ">
                          <h5 style="font-family:800;"> Description</h5>
                          <div class=" mt-3">
                            <p style="font-weight: 300;">Lorem ipsum, dolor sit amet consectetur adipisicing
                              elit.Maiores assumenda eaque consequatur voluptates cumque porro tempora, quam repellat
                              nihil molestias
                              labore recusandae Lorem ipsum, dolor sit amet consectetur adipisicing
                              elit.Maiores assumenda eaque consequatur voluptates cumque porro tempora, quam repellat
                              nihil molestias
                              labore recusandae 
                            </p>
                         
                          </div>

                    
                        </div>
                 
                      
                      </div>
                    </mat-tab>
                    <mat-tab label="All Supporters">
                      <div class="money-title my-5 ">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span>10,211</span> raised out of
                            </div>
                            <div class="d-flex align-items-end">
                                50,000
                            </div>

                        </div>
                        <div class="progress cardprogress w-100 my-2">
                            <div class="progress-bar cardprogress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div> 147 Suppoters</div>
                    </div>
                    <div class="row">
                      <ul class="list-unstyled">
                          <li class="media  my-3">
                              <img src="img/user1.svg" class="mr-3 rounded-circle" alt="...">
                              <div class="media-body">
                                  <h6 class="mt-0 mb-1 font-weight-bold">Hitesh Rishi
                                      donated INR 2,100</h6>
                                  <small>15 February,2022
                              </small></div>
                          </li>
                          <li class="media my-3">
                              <img src="img/user1.svg" class="mr-3 rounded-circle" alt="...">
                              <div class="media-body">
                                  <h6 class="mt-0 mb-1 font-weight-bold">Hitesh Rishi
                                      donated INR 2,100</h6>
                                  <small>15 February,2022
                              </small></div>
                          </li>
                          <li class="media  my-3">
                              <img src="img/user1.svg" class="mr-3 rounded-circle" alt="...">
                              <div class="media-body">
                                  <h6 class="mt-0 mb-1 font-weight-bold">Hitesh Rishi
                                      donated INR 2,100</h6>
                                  <small>15 February,2022
                              </small></div>
                          </li>
                      </ul>
                  </div>
                    </mat-tab>
                    <mat-tab label="Update">
                      <!-- timeline -->
                      <div class="container-fluid" style="margin-top:1rem;">
                        <div class="row example-split">
                          <div class="col-12">
                            <ul class="ra-timeline ra-timeline-split">
                              <li class="ra-timeline-item">
                                <div class="ra-timeline-info">
                                  <span>March 23, 2016</span>
                                </div>
                                <div class="ra-timeline-marker"></div>
                                <div class="ra-timeline-content">
                                  <div class="row border-bottom">
                                    <h5 style="">NGO Update Remarks</h5>
                                    <div class=" mt-3">
                                      <p style="font-weight: 300;">Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.Maiores assumenda eaque consequatur voluptates cumque porro tempora, quam
                                        repellat nihil molestias
                                        labore recusandae</p>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="ra-timeline-item">
                                <div class="ra-timeline-info">
                                  <span>March 23, 2016</span>
                                </div>
                                <div class="ra-timeline-marker"></div>
                                <div class="ra-timeline-content">
                                  <div class="row border-bottom">
                                    <h5 style="">NGO Update Remarks</h5>
                                    <div class=" mt-3">
                                      <p style="font-weight: 300;">Lorem ipsum, dolor sit amet consectetur adipisicing
                                        elit.Maiores assumenda eaque consequatur voluptates cumque porro tempora, quam
                                        repellat nihil molestias
                                        labore recusandae</p>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="ra-timeline-item">
                                <div class="ra-timeline-info">
                                  <!-- <p>25 May,22</p> -->
                                  <span class="d-inline">25 May,22</span>
                                </div>
                                <div class="ra-timeline-marker"></div>
                                <div class="ra-timeline-content">
                                  <h5 style="">Gig Description</h5>
                                  <div class="row border-bottom bg-transparent">
                                    <div style="     width:30vw !important;" class=" p-0 row  flex-row flex-nowrap h-scroll">
                                      <div style="width: 179px;" class="my-3 ml-0 mr-3">
                                        <div class="card  text-white p-0 border-0" style="width: 179px; height:177px">
                                          <img src="../../../../../../assets/images/Rectangle 14.svg" class="card-img" alt="...">
                                          <div class="card-img-overlay">
                                            <p class="center-item"> <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                            </p>
                                          </div>
                                        </div>
                                        style="width: 179px;"&gt;BVNBVNBVNBBV
                                      </div>
                                      <div style="width: 179px;" class="m-3">
                                        <div class="card  text-white p-0 border-0" style="width: 179px; height:177px">
                                          <img src="../../../../../../assets/images/Rectangle 14.svg" class="card-img" alt="...">
                                          <div class="card-img-overlay">
                                            <p class="center-item"> <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                            </p>
                                          </div>
                                        </div>
                                        style="width: 179px;"&gt;BVNBVNBVNBBV
                                      </div>
                                      <div style="width: 179px;" class="m-3">
                                        <div class="card  text-white p-0 border-0" style="width: 179px; height:177px">
                                          <img src="../../../../../../assets/images/Rectangle 14.svg" class="card-img" alt="...">
                                          <div class="card-img-overlay">
                                            <p class="center-item"> <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                            </p>
                                          </div>
                                        </div>
                                        style="width: 179px;"&gt;BVNBVNBVNBBV
                                      </div>
                                      <div style="width: 179px;" class="m-3">
                                        <div class="card  text-white p-0 border-0" style="width: 179px; height:177px">
                                          <img src="../../../../../../assets/images/Rectangle 14.svg" class="card-img" alt="...">
                                          <div class="card-img-overlay">
                                            <p class="center-item"> <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                            </p>
                                          </div>
                                        </div>
                                        style="width: 179px;"&gt;BVNBVNBVNBBV
                                      </div>
                                      <div style="width: 179px;" class="m-3">
                                        <div class="card  text-white p-0 border-0" style="width: 179px; height:177px">
                                          <img src="../../../../../../assets/images/Rectangle 14.svg" class="card-img" alt="...">
                                          <div class="card-img-overlay">
                                            <p class="center-item"> <i class="fa fa-file fa-2x" aria-hidden="true"></i>
                                            </p>
                                          </div>
                                        </div>
                                        style="width: 179px;"&gt;BVNBVNBVNBBV
                                      </div>
                                    </div>
          
                                  </div>
                                </div>
                              </li>


                              <li class="ra-timeline-item">
                                <div class="ra-timeline-info">
                                  <span>April 28, 2016</span>
                                </div>
                                <div class="ra-timeline-marker"></div>
                                <div class="ra-timeline-content">
                                  <div class="row border-bottom ">
                                    <div class=" ">
                                      <h5 style="">Gig Description</h5>
                                      <i class="fas fa-eye-slash py-3" style="font-size: 30px;"></i>
                                    </div>
                                  </div>
                                </div>
                              </li>
                              <li class="ra-timeline-item">
                                <div class="ra-timeline-info">
                                  <span>April 28, 2016</span>
                                </div>
                                <div class="ra-timeline-marker"></div>
                                <div class="ra-timeline-content">
                                  <div class="row border-bottom">
                                    <div class="">
                                      <h5 style="">NGO Send Link to Manish</h5>
                                      <p style="font-weight: 300;">https:///www.qausengoname.com</p>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                      

                        </div>

                      </div>
                      <!-- timeline end -->

                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 bg-light offset-lg-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi doloremque repellendus repellat optio beatae recusandae officiis sit ut accusantium? Sapiente similique ratione nemo aspernatur cumque repellendus id omnis ut rem.
      </div>
    </div>
    <!-- 2nd row end  -->
  </div>