.inform {
    height: 1.2rem;
    border-radius: 6px;
}

.pricolor-txt {
    color: #f7a212;
}

.seccolor-txt {
    color: #253dc0;
}

.check--header {
    flex-direction: column;
}

.are--you {
    font-size: 22px;
    font-weight: 800;
}

.check--circle {
    height: 16px;
    width: 16px;
    align-self: center;
}

.btn-warning {
    height: 46px;
    /* width: 315px; */
    left: 30px;
    width: 400px;
    // top: 266px;
    border-radius: 20px;
    padding: 20px 25px;
    color: #ffffff;
    background-color: #f7a212;
    border-color: #f7a212;
    font-weight: 700;
}

// otpinputs
.verification__Code .input_number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.verification__Code .input_number input {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: #292e34;
    text-align: center;
    border: 0;
    letter-spacing: 0.9em;
    text-indent: 0.9em;
    height: 55px;
    outline: 0 !important;
    box-shadow: none !important;
    background-color: transparent;
    z-index: 9;
    margin-bottom: 30px;
}

// .inputs input {
//     box-sizing: border-box;
//     border-radius: 6px;
//     width: 100%;
//     /* height: 96px; */
//     border-radius: 0.8em !important;
//     padding: 1.6em;
//     border: solid 1px #cdcdcd;
//     width: 90px;
//     height: 90px;
//     text-align: center;
//     margin: 5px;
//     font-size: 23px;
// }
// input[type="number"]::-webkit-inner-spin-button,
// input[type="number"]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     margin: 0;
// }
.form-control:focus {
    box-shadow: none;
    border: 2px solid #f7a212;
}

.btn-light {
    /* width: 315px; */
    // left: 30px;
    // top: 266px;
    // padding: 20px, 25px, 20px, 25px
    width: 300px;
    background-color: #fff;
    border: solid 1px #c9c9c9;
    border-radius: 10px;
    padding: 20px 0;
    font-weight: bold;
    font-size: large;
}

.roundoff {
    width: 80%;
    margin: 0 auto;
    .firstimg {
        margin: 30px 0;
    }
    h2 {
        font-weight: 800;
        color: black;
        margin-top: 10px;
        text-align: center;
        font-family: "Mulish", sans-serif;
    }
    p {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        //         /* identical to box height */
        text-align: center;
        letter-spacing: -0.25px;
    }
    .form-group label {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.25px;
    }
    // .form-group input {
    //     border: 1px solid #263238;
    //     box-sizing: border-box;
    //     border-radius: 6px;
    //     width: 100%;
    //     height: 46px;
    //     input:focus {
    //         border: 1px solid #263238;
    //     }
    // }
}

h6 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
}

.else {
    font-size: 18px;
    border-bottom: 1px solid rgb(72, 72, 72);
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-align: center;
}

.else2 {
    padding: 0 20px;
    // background-image: url("https://i.imgur.com/5ehnBAe.jpg")
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

@media (max-width: 320px) {
    .roundoff {
        width: 89%;
        margin: 0 auto;
        h2 {
            font-weight: 800;
            color: black;
            margin-top: 10px;
            // text-align: center;
            text-align: left;
            font-family: "Mulish", sans-serif;
            font-size: 27px;
            margin-top: 20px;
        }
        p {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            margin: 3px 0;
            // text-align: left;
            letter-spacing: -0.25px;
        }
        h6 {
            text-align: left;
        }
        .verification__Code .input_number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .verification__Code .input_number input {
            position: relative;
            font-size: 30px;
            font-weight: 600;
            color: #292e34;
            text-align: center;
            border: 0;
            letter-spacing: 0.9em;
            text-indent: 0.9em;
            height: 55px;
            outline: 0 !important;
            box-shadow: none !important;
            background-color: transparent;
            z-index: 9;
            margin-bottom: 30px;
        }
        .form-group {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .form-group input {
            border: 1px solid #263238;
            box-sizing: border-box;
            border-radius: 6px;
            width: 351px;
            height: 50px;
            input:focus {
                border: 1px solid #263238;
            }
        }
        .btn-warning {
            height: 46px;
            /* width: 315px; */
            left: 30px;
            top: 266px;
            border-radius: 20px;
            padding: 20px, 25px, 20px, 25px;
            color: #ffffff;
            background-color: #f7a212;
            border-color: #f7a212;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .bottomtext p {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .else {
        font-size: 14px;
        border-bottom: 1px solid rgb(72, 72, 72);
        line-height: 0.1em;
        margin: 10px 0 20px;
        text-align: center;
    }
    .bottomtext p {
        text-align: center;
    }
}


/* smartphones, Android phones, landscape iPhone */

@media (max-width: 480px) {
    .roundoff {
        width: 80%;
        margin: 0 auto;
        // img {
        //     margin: 50px 0;
        // }
        h2 {
            font-weight: 800;
            color: black;
            margin-top: 10px;
            // text-align: left;
            font-family: "Mulish", sans-serif;
            font-size: 27px;
            margin-top: 20px;
            text-align: left;
        }
        p {
            font-family: Mulish;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-align: left;
            line-height: 20px;
            /* identical to box height */
            // margin: 3px 0;
            // letter-spacing: -0.25px;
        }
        h6 {
            text-align: left;
        }
        .form-group {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .form-group input {
            border: 1px solid #263238;
            box-sizing: border-box;
            border-radius: 6px;
            width: 100%;
            height: 50px;
            input:focus {
                border: 1px solid #263238;
            }
        }
        .verification__Code .input_number {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .verification__Code .input_number input {
            position: relative;
            font-size: 30px;
            font-weight: 600;
            color: #292e34;
            text-align: center;
            border: 0;
            letter-spacing: 0.9em;
            text-indent: 0.9em;
            height: 55px;
            outline: 0 !important;
            box-shadow: none !important;
            background-color: transparent;
            z-index: 9;
            margin-bottom: 30px;
        }
        .btn-warning {
            height: 46px;
            /* width: 315px; */
            left: 30px;
            top: 266px;
            border-radius: 20px;
            padding: 20px, 25px, 20px, 25px;
            color: #ffffff;
            background-color: #f7a212;
            border-color: #f7a212;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .bottomtext p {
            font-size: 14px;
            margin-top: 20px;
            text-align: center;
        }
        .else {
            font-size: 14px;
            border-bottom: 1px solid rgb(72, 72, 72);
            line-height: 0.1em;
            margin: 10px 0 20px;
            text-align: center;
            h2 {
                text-align: center !important;
            }
        }
    }
}
.text-end{
    text-align: end;
}
.closeButton{
    border: none;
    padding: 0.5rem 0.9rem;
    border-radius: 22px;
    font-weight: 800;
}
@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}