<!-- this condition will stop the rendring of the whole page until the variable get the data -->
<div class="container p-0" *ngIf="singleVolunteerData != undefined; else gigDetailsNotFound">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="bg-main">
                <div class="bg-icons">
                    <div class="content-box">
                        <i class="fas fa-arrow-left" aria-hidden="true" (click)="goBack()"></i>
                        <i class="fas fa-share-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <div style="margin-bottom: 4rem" class="main-content m-radius">
                    <div class="head-profile-heading">
                        <div class="row">

                            <div class="media media-sec">
                                <img class="rounded-circle mr-3" height="70"
                                    [src]="singleVolunteerData.questionsValues.currentLogo"
                                    alt="Generic placeholder image" />
                                <div class="media-body">
                                    <h5 class="mt-0 text-capitalize">{{singleVolunteerData.ngo.name}}</h5>
                                    <p class="text-capitalize">
                                        {{singleVolunteerData.ngo.state}},{{singleVolunteerData.ngo.country}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="d-flex justify-content-around">
                                <div class="">
                                    <i class="fa fa-clock pr-2 icon-c" aria-hidden="true"> </i>Times
                                </div>
                                <div class=" ml-5 pl-5">
                                    <i class="fa fa-clock pr-2 icon-c"> </i>Education
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="cont-box1 mt-5 mb-5">
                                <h3 style="    font-weight: 800; font-size: 1.6rem;">{{singleVolunteerData.title}}</h3>
                                <!-- inner section 1-->
                                <div class="cont-inner-box mt-5">
                                    <h6 style="    font-weight: 800;">Gig Description</h6>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora culpa dolores
                                        eligendi rem, nulla fuga minus voluptas alias ut eveniet itaque enim harum
                                        facere dolore, quaerat, reiciendis molestiae pariatur vero.
                                    </p>
                                </div>
                                <div class="cont-inner-box mt-5">
                                    <h6 style="    font-weight: 800;"><i class="fas fa-paperclip pr-3"></i>Attachment
                                    </h6>
                                    <div class="card mx-auto mt-4" style="width: 100%">
                                        <img src="assets/images/gigAssets/cool-background.svg" class="card-img"
                                            alt="..." />
                                    </div>
                                </div>
                                <div class="cont-inner-box mt-5"
                                    *ngIf="singleVolunteerData.ngo.social.youtube && singleVolunteerData.ngo.social.facebook && singleVolunteerData.ngo.social.instagram">
                                    <h6 style="    font-weight: 800;">Links</h6>
                                    <ul class="list-group list-group-flush p-0 m-0 border-0">
                                        <li class="list-group-item border-0 p-1 py-2"
                                            *ngIf="singleVolunteerData.ngo.social.youtube"> <i
                                                class="fas fa-globe icon-c"></i>{{singleVolunteerData.ngo.social.youtube}}
                                        </li>
                                        <li class="list-group-item border-0 p-1 py-2"
                                            *ngIf="singleVolunteerData.ngo.social.facebook"> <i
                                                class="fab fa-facebook-f icon-c"></i>
                                            {{singleVolunteerData.ngo.social.facebook}}
                                        </li>
                                        <li class="list-group-item border-0 p-1 py-2"
                                            *ngIf="singleVolunteerData.ngo.social.instagram"> <i
                                                class="fab fa-instagram icon-c"></i>
                                            {{singleVolunteerData.ngo.social.instagram}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="cont-inner-box ">
                                    <ul class="list-group list-group-flush border-top p-0">
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Subject</h6>
                                                <span>English</span> &nbsp;
                                                <span>Hindi</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Tagline</h6>
                                                <p>{{singleVolunteerData.questionsValues.tagLine}} </p>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">

                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Day and Time Preference</h6>
                                                <div class="d-flex justify-content-between py-2">
                                                    <div><i class="fas fa-calendar-check icon-c"></i> Mon & Fri
                                                    </div>
                                                    <div><i class="fas fa-clock icon-c"></i> 09am - 11am IST</div>

                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Language Preference</h6>
                                                <span>English</span>

                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Ref Links</h6>
                                                <div style="    display: flex;
                                                flex-direction: column;" class="py-2">
                                                    <a href="https://www.qause.com/about"
                                                        style="color:#253dc0;">https://www.qause.com/about</a>
                                                    <a href="https://www.qause.com/about"
                                                        style="color:#253dc0;">https://www.qause.com/about</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Report Type</h6>
                                                Annual

                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="py-3" *ngIf="singleVolunteerData.questionsValues.eventLocation">
                                                <h6 style="    font-weight: 800;">Venue(Location)</h6>
                                                <div>
                                                    <i
                                                        class="fas fa-map-marker-alt icon-c"></i>{{singleVolunteerData.questionsValues.eventLocation}}
                                                </div>

                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Blog Topic</h6>
                                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing e</p>

                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Content Requirement</h6>
                                                <p class="pt-2">
                                                    {{singleVolunteerData.questionsValues.requirements}}
                                                </p>

                                            </div>
                                        </li>
                                        <li class="list-group-item px-0">
                                            <div class="py-3">
                                                <h6 style="    font-weight: 800;">Attachment</h6>
                                                <div>
                                                    <i class="fas fa-file-pdf fa-4x pr-3 icon-r"></i> Logoref.pdf
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="cont-inner-box mt-5 ">

                                    <div class="d-flex justify-content-center">
                                        <button type="button" (click)="applyForGig()"
                                            class="btn btn-primary btn-lg accept text-light">Accept</button>
                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #gigDetailsNotFound>
    details not found
</ng-template>