
<div class="container p-0">
    <div class="row">
        <div class="col-lg-6 mx-auto p-0 m-0">
            <div class="bg-main">
                <div class="top-text">Pleasee note: <br> when volunteer submit <br> or complete the task</div>
                <div class="bg-icons">
                    <div class="content-box">

                        <i class="fas fa-arrow-left"></i>

                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
                <div class="main-content m-radius">
                    <div class="head-profile-heading">
                        <div class="container">
                            <div class="modal-dialog">
                                <div class="modal-content border-top-0">
                                    <div class="modal-header border-0">
                                        <!-- <h5 class="modal-title">Modal title</h5> -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="close-card p-3">
                                            <h5>Hey [Name]</h5>

                                            <div>
                                                <p class="text-center close-card-p">
                                                    you just made a differce in the world of
                                                    NGOS!
                                                </p>
                                                <p class="text-center close-card-p">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Cupiditate
                                                    error at exercitationem nihil facere nisi veritatis aliquam
                                                    deserunt
                                                    asperiores aliquid temporibus, quos blanditiis, recusandae
                                                    quaerat aut
                                                    qui molestiae? Quisquam, eius!
                                                </p>
                                            </div>

                                            <div>
                                                <div class="fs">Feedbaack Status <span
                                                        class="pl-2 icon-c  fs-100 "><i class="far fa-clock"></i>
                                                        Pending</span></div>
                                                <div class="fs">Feedbaack Status <span
                                                        class="pl-2 icon-c fs-100  "><i class="far fa-clock"></i>
                                                        Pending</span></div>
                                            </div>
                                            <p class="text-center close-card-p my-5">
                                                you just made a differce <br> in the world of
                                                NGOS!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="modal-footer border-top-0">

                                    </div>
                                </div>
                            </div>

                            <p class="text-center close-card-p">
                                you just made a differce in the world of
                                NGOS!
                            </p>

                            <div class="text-center"> BROWSE MORE OPPORTUNITIES</div>

                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn my-3  closebtn btn-outline-secondary ">
                                    Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>