body h1 h2 h3 h4 h5 h6 p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.br-30 {
    border-radius: 30px;
}

.media-sec-card h5 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: black;
}

.media-sec-card p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #253dc0;
}

.time-upper-span {
    position: absolute;
    right: 50px;
    color: #fff;
    background-color: #253dc0;
    padding: 7px 12px;
    border-radius: unset;
}

.money-title span {
    font-weight: 800;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.cardprogress {
    display: -ms-flexbox;
    display: flex;
    height: 9px;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.2rem;
}

.cardprogress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #28a745;
    transition: width 0.6s ease;
}

.fs-xs {
    font-size: 85%;
}

.accept {
    border-radius: 6px;
    justify-content: center;
    /* color: #253DC0; */
    background: #253dc0;
    padding: 13px 25px;
    color: white;
    border-color: #e9ecef;
    font-weight: 600;
    font-size: medium;
}

.bg-yellow {
    border: 1px solid #d39e00;
}

.icon-c {
    color: #f7a212;
}

.activeFilter {
    color: #fff;
    background-color: #253dc0;
    border-color: #253dc0;
}