<!-- Modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
<div
  class=""
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-0 border-0">
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <img
            src="../../../../../../assets/images/child.png"
            height="82px"
            alt=""
            srcset=""
          />
        </div>
        <div class="popup-text text-center">
          <h6 class="">Hey! You just applied to work for a cause!</h6>
          <p class="py-4">
            <span class="text-capitalize" >{{ngoName?ngoName:'[NGO name]'}}</span> <br />
            {{title?title:'title'}} & you volunteered to help
          </p>
        </div>

        <div class="popup-btn">
          <div class="btn view-btn mr-2" (click)="routeToGig()">View GIG</div>
          <div class="btn chat-btn" (click)="routeToChat()">Chat With NGO</div>
        </div>

        <div class="popup-sec-text my-4 py-2">
          <div>
            <h6 class="p-text-c">
              <i  class="fas fa-phone-alt icon-c" aria-hidden="true"></i> Call NGO
            </h6>
          </div>
          <div>
            <p>
              You can directly connect with the respective person of the NGO
              <br />
              to get more details about the task you’ve taken up.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-3 border-0" style="background-color: #ebf4fe">
        <div class="text-center">
          <span class="p-text-c"> Happy Volunteering!</span>
          <p>
            Complete this Project, Receive Feedback and Earn Qause Tokens! Give
            & Get!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
