<div class="row">



    <div class="col d-lg-none d-xl-none d-md-block d-sm-block">

        <!-- ngo title section -->
        <div class="row">
            <div class="card w-100 bg-transparent border-0">
                <div class="">
                    <div class="container">
                        <div class="row ml-2">
                            <div class="col-10" style="display: flex; align-items: center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="user-avatar" style="display: inline">
                                                <img style="height: 2rem" [src]="
                          gigDetails
                            ? gigDetails.ngo.logo
                            : 'https://bootdey.com/img/Content/avatar/avatar7.png'
                        " src=" " class="img-fluid" alt="Maxwell Admin" />
                                            </div>
                                        </div>

                                        <div class="col-8" style="padding: unset; margin: auto">
                                            <h4 style="font-size: 18px" class=" ">
                                                {{
                                                gigDetails
                                                ? gigDetails.ngo.name
                                                : "Light of Life Trust"
                                                }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2" style="display: flex">
                                <div style="width: 2rem; height: 2rem">
                                    <div style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    box-shadow: 0 2px 4px #0000001c;
                    padding: 7px 0px;
                    border-radius: 50%;
                  ">
                                        <i mat-icon-button [matMenuTriggerFor]="socialMediaLinks"
                                            class="fas fa-ellipsis-v"></i>
                                        <!-- <button mat-icon-button [matMenuTriggerFor]="menu"
aria-label="Example icon-button with a menu">
<mat-icon>more_vert</mat-icon>
</button> -->
                                        <mat-menu #socialMediaLinks="matMenu">
                                            <button mat-menu-item>
                                                <a [href]="
                          gigDetails
                            ? gigDetails.ngo.social.facebook
                            : 'https://facebook.com'
                        " target="blank">
                                                    <span><i class="fab fa-facebook"></i></span>
                                                    <span class="font-weight-bolder ml-2">Facebook</span>
                                                </a>
                                            </button>
                                            <button mat-menu-item>
                                                <a [href]="
                          gigDetails
                            ? gigDetails.ngo.social.instagram
                            : 'https://instagram.com'
                        " target="blank">
                                                    <span><i class="fab fa-instagram"></i></span>
                                                    <span class="font-weight-bolder ml-2">Instagram</span>
                                                </a>
                                            </button>
                                            <button mat-menu-item>
                                                <a [href]="
                          gigDetails
                            ? gigDetails.ngo.social.youtube
                            : 'https://youtube.com'
                        " target="blank">
                                                    <span><i class="fab fa-youtube"></i></span>
                                                    <span class="font-weight-bolder ml-2">Youtube</span>
                                                </a>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="w-80 mx-auto" />
                </div>
            </div>
        </div>


        <div class="col">
            <div class="content">
                <h1 class="h1 font-weight-bolder">
                    {{ gigDetails ? gigDetails.ngo.name : " Design a Facebook Banner" }}
                </h1>
                <div class="row px-4 my-2">
                    <p style="color: #878787">
                        {{
                        gigCreatedAt
                        ? gigCreatedAt[0] +
                        ", " +
                        gigCreatedAt[1] +
                        " " +
                        gigCreatedAt[2] +
                        " " +
                        gigCreatedAt[3]
                        : "Monday, October 18, 2021"
                        }}
                        <span><a style="font-weight: 600" href="">.

                                {{ gigDetails ? gigDetails.ngo.state : "Haryana" }}
                            </a>
                        </span>
                    </p>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <!-- <button type="button" class="btn btn-outline-secondary d-lg-none">Graphic Design</button> -->
                        <div class="col-md-4 ">
                            <button style="    border-radius: 11px;
                            font-weight: bold;
                            padding: 0.25rem 0.5rem;" type="button" class="btn btn-outline-dark mx-1">
                                {{ gigDetails ? gigDetails.category : "Social Media" }}
                            </button>

                            <!-- <button type="button" class="btn btn-outline-dark
                         ">Graphic Design</button> -->
                        </div>
                        <div class="col-md-4 d-none d-lg-block d-sm-none">
                            <button type="button" class="btn btn-outline-secondary d-lg-none">Graphic
                                Design</button>
                            <div class="volunteer__details">

                                <div class="volunteer__details-profile">
                                    <div class="volunteer__details-img"></div>
                                    <div class="volunteer__details-img"></div>
                                    <div class="volunteer__details-img"></div>
                                    <div class="volunteer__details-img"></div>
                                    <div class="volunteer__details-img"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a style="line-height: unset" href="#"
                                class="content__menu__btn btn btn--orange d-none d-lg-block d-sm-none">Apply Now</a>
                        </div>
                    </div>
                </div>
                <hr />

                <div style="    background-color: #ededed;" class="volunteer">
                    <p class="content__paragraph  " style="font-weight: 600;">
                        Need 10 volunteers for a clean up Computer Drive in XYZ location at
                        11:20 am
                    </p>
                </div>

                <h2 class="content__paragraph-heading p-padding">Gig Description</h2>
                <p style="font-weight: 100;" class="content__paragraph">
                    {{ gigDetails ? gigDetails.desc : dummyDesc }}
                </p>

                <p style="font-weight: 100;" class="content__paragraph--last">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis
                    suscipit culpa consequatur cupiditate cumque, enim tempore temporibus
                    repellat minus doloremque omnis libero est sequi facilis ipsa aut.
                    Quis, totam numquam! Reiciendis accusamus aliquid distinctio soluta
                    nulla illo, est dolorem perferendis eveniet rerum ducimus excepturi
                    quasi eaque error modi quaerat aut amet. Animi asperiores fugit
                    ratione, sapiente corrupti alias vero. Praesentium. Dolore ex veniam
                    nam sapiente quibusdam ea hic tenetur, fuga ab sequi ipsum dignissimos
                    iure quidem architecto consequatur! Sint vitae at placeat sequi cumque
                    iure id rem reprehenderit dignissimos vero! Quisquam in labore
                    tenetur, laborum suscipit, aliquam architecto saepe quam minus
                    quibusdam, aliquid voluptatum unde facilis ullam sunt. Consequuntur
                    obcaecati expedita quod tempora ipsam tenetur quam molestiae. Ad,
                    iusto ut. Fugit provident, aut sequi amet expedita unde aperiam,
                    magni, nam assumenda tempore consequuntur quia dolor? Quo aspernatur
                    voluptate id non. Sapiente ipsam voluptas inventore facilis quos
                    voluptates, adipisci maxime eveniet!
                </p>
                <!-- logos visible in mobile mode -->
                <div class="row d-lg-none d-sm-block logo-2">

                    <div class="col-4">
                        <div style="display: flex;
                        flex-direction: column;" class="logo__clock">
                            <img class="mb-2" style="    height: 1.5rem;" src="assets/images/location.svg" alt="" />
                            <h4 class="small-heading">8hours</h4>
                        </div>
                    </div>
                    <div class="col-4">
                        <div style="display: flex;
                        flex-direction: column;" class="logo__clock">
                            <img class="mb-2" style="    height: 1.5rem;" src="assets/images/clock.svg" alt="" />
                            <h4 class="small-heading">8hours</h4>
                        </div>
                    </div>
                    <div class="col-4">
                        <div style="display: flex;
                        flex-direction: column;" class="logo__education">
                            <img class="mb-2" style="    height: 1.5rem;" src="assets/images/Education.svg" alt="" />
                            <h4 class="small-heading">Education</h4>
                        </div>
                    </div>
                </div>
                <h3 class="content__paragraph-heading p-padding">Volunteer</h3>

                <div class="row" style="border-bottom: solid 1px #eee">
                    <div class="col-md-5">
                        <!-- <button type="button" class="btn btn-outline-secondary d-lg-none">Graphic Design</button> -->
                        <div class="progress yellow mt-3">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">80.5%</div>
                        </div>

                        <p style="font-size: 1rem; color: #a5a5a5;" class="ml-2 mt-3">3 out of 10 voulunteer Signed
                            Up</p>
                    </div>
                    <div class="col-md-7">
                        <div class="volunteer__details">
                            <div class="volunteer__details-profile">


                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                                <div class="volunteer__details-img"></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <h3 class="content__paragraph-heading p-padding">
                    Attachment
                </h3>

                <div class="row my-3">
                    <div class="container" style="    color: #a5a5a5;">
                        <div class="row mb-2">
                            <div class="col-3" style="text-align: center;">
                                <img class="card-img-top" style="
                                    border-radius: 9px;
width: 3rem;
                                " src="assets/images/welcome.svg" alt="Card image cap" />
                                <!-- <div class="card-img-overlay">
                                    <i class="fas fa-file-archive text-white"></i>
                                </div> -->
                            </div>
                            <div class="col-7" style="    margin: auto;">
                                <p class=" font-weight-bold">File Name 123bef.svg</p>
                                <p>yesterday . 157kd</p>
                            </div>
                            <div style="    text-align: center;
                            margin: auto;" class="col-2">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-3" style="text-align: center;">
                                <img class="card-img-top" style="
                                    border-radius: 9px;
width: 3rem;
                                " src="assets/images/welcome.svg" alt="Card image cap" />
                                <!-- <div class="card-img-overlay">
                                    <i class="fas fa-file-archive text-white"></i>
                                </div> -->
                            </div>
                            <div class="col-7" style="    margin: auto;">
                                <p class="font-weight-bold">File Name 123bef.svg</p>
                                <p>yesterday . 157kd</p>
                            </div>
                            <div style="    text-align: center;
                            margin: auto;" class="col-2">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-3" style="text-align: center;">
                                <img class="card-img-top" style="
                                    border-radius: 9px;
width: 3rem;
                                " src="assets/images/welcome.svg" alt="Card image cap" />
                                <!-- <div class="card-img-overlay">
                                    <i class="fas fa-file-archive text-white"></i>
                                </div> -->
                            </div>
                            <div class="col-7" style="    margin: auto;">
                                <p class="font-weight-bold">File Name 123bef.svg</p>
                                <p>yesterday . 157kd</p>
                            </div>
                            <div style="    text-align: center;
                            margin: auto;" class="col-2">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="content__expirence mt-3">
                    <h3 class="content__paragraph-heading p-padding">
                        Experiences
                    </h3>
                    <div class="row">
                        <div class="col-md-7 col-7">
                            <p style="color: #a5a5a5;" class="content__paragraph">
                                Your experience in the field of request in years.
                            </p>
                        </div>
                        <div class="col-md-5 col-5">
                            <div style="    color: #a5a5a5;" class="qty_btn">
                                <i (click)="updateApplicantExperience('decrease')"
                                    class="fa myHoverEffect fa-minus"></i>
                                <p>{{applicantExperience}}</p>
                                <i (click)="updateApplicantExperience('increase')" class="fa myHoverEffect fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content__timeslot">
                    <h3 class="content__paragraph-heading p-padding">
                        Prefered Time Slot
                    </h3>

                    <p style="color: #a5a5a5;" class="content__paragraph">
                        Pick the time you want to select that suit with your timeslot.
                    </p>

                    <div class="select">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="select--day mb-2 mt-2">
                                    <h5 class="font-weight-bold my-3">
                                        Day of the week
                                    </h5>

                                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button
                                      group">
                                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck1">Mo</label>

                                        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck2">Tu</label>

                                        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck3">We</label>

                                        <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck4">Th</label>

                                        <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck5">Fr</label>

                                        <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" />
                                        <label class="btn btn-outline" for="btncheck6">St</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-6">
                                <div class="select__from">
                                    <h5 class="font-weight-bold my-3">
                                        From
                                    </h5>
                                    <!-- <div class=""> -->
                                    <!-- <button type="ti" class="btn btn-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </li>
                                        </ul> -->
                                    <input type="time" value="13:30" class=" btn-group form-control" name="form"
                                        id="form">
                                    <!-- </div> -->
                                </div>


                            </div>

                            <div class="col-md-2 col-6">
                                <div class="select--to ">
                                    <h5 class="font-weight-bold my-3">
                                        To
                                    </h5>

                                    <!-- <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Action
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li>
                                                <a class="dropdown-item" href="#">Another action</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </li>
                                            <li>
                                                <hr class="dropdown-divider" />
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div> -->

                                    <input type="time" value="09:30" class=" btn-group form-control" name="form"
                                        id="form">
                                </div>
                            </div>

                            <div class="col-12 my-3">
                                <p style="    font-size: 1rem;
                                color: #253cc0;
                                font-weight: 700;
                                display: flex;">
                                    <img class=" mr-2" src="../../../../../assets/images/svg/plus-circle.svg" alt="svg">
                                    <span>
                                        Add more time slot
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="content__experience w-100">
                        <h3 class="content__paragraph-heading p-padding my-3">
                            Describe your experience in the field in brief (Optional)
                        </h3>

                        <div class="mb-5">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 10rem; border-radius: 12px"></textarea>
                        </div>
                        <!-- <a style="line-height: unset;
                           line-height: unset;
width: 100%;
display: flex;
align-items: center;
position: sticky;
justify-content: center;" href="" class="content__menu__btn btn btn--orange">Apply
                            Now</a> -->
                    </div>
                </div>
            </div>
        </div>
        <a style="line-height: unset;
        line-height: unset;
width: 100%;
display: flex;
align-items: center;
position: sticky;
justify-content: center;
bottom: 3px;
left: 34px;
z-index: 10;
" href="" routerLink="/general/gig-congrats" class="content__menu__btn btn btn--orange">Apply
            Now</a>
    </div>


</div>


<button (click)="goToChatting()" class="btn btn-primary">
    start chatting
</button>