<div>
  <div class="container mt-5 pt-5">
    <div class="row bg-grey">
      <div class="col-md-8 sub-text">
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-color ">

            <div class="d-flex justify-content-start align-baseline  ">
              <h6 class="fw-600 sub-text">Mobile Number </h6>
              <p class="pl-5 sub-text">+91 7982166843</p>
            </div>
          </li>
          <li class="list-group-item bg-color sub-text">
            <div class="d-flex justify-content-start align-baseline  ">
              <h6 class="fw-600">Email Id </h6>
              <p class="pl-5">anupamduggal@gmail.com</p>
            </div>
          </li>
          <li class="list-group-item bg-color sub-text">
            <h6 class="fw-600 mb-2">About Me</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat.
            </p>

          </li>
          <li class="list-group-item bg-color ">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="fw-600 mb-2">Gender</h6>
                <p class="">Male</p>
              </div>
              <div class="">
                <h6 class="fw-600 mb-2">Profession </h6>
                <p class="">Graphic Designer</p>
              </div>
            </div>
          </li>
          <li class="list-group-item bg-color ">
            <div class="d-flex justify-content-between">
              <div class="">
                <h6 class="fw-600 mb-2">Location </h6>
                <p class="">Delhi (India)</p>
              </div>
              <div class="">
                <h6 class="fw-600 mb-2">Member Since </h6>
                <p class="">February 2022</p>
              </div>
            </div>
          </li>
          <li class="list-group-item bg-color ">
            <div>
              <h6 class="fw-600 mb-2">
                Portfolio
              </h6>
              <p class="m-0"><a href="">www.qause.com</a></p>
              <p><a href="">www.passionguruindia.com</a></p>
            </div>
          <li class="list-group-item bg-color ">
            <div>
              <h6 class="fw-600 mb-2">
                Language Known
              </h6>

              <div>
                <button type="button" class="btn-sm language-btn mr-2">English</button>
                <button type="button" class="btn-sm language-btn mr-2">Hindi</button>
                <button type="button" class="btn-sm language-btn mr-2">Punjabi</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="bg-white pt-2">
          <div class=" text-info d-flex px-5 py-4 justify-content-between m-3">
            <div class=" text-black">
              <h4 class="fw-600 sub-text"> My Points </h4>
              <p class="my-3">History</p>
            </div>
            <div>
              <h3 class="fw-600 ptext">1443</h3>
            </div>
          </div>
          <div class="text-info-sec my-5">
            <div>
              <h4 class="fw-600 sub-text ml-3">Donation</h4>
            </div>
            <div>
              <h3 class="ptext fw-600"> <small class="fas fa-rupee-sign " style="position: relative;left: 7px;bottom: 2px;"></small> 1000</h3>
            </div>
            <div class="mr-3">
              <p>History</p>
            </div>
          </div>
<!-- copy text input filed  -->
          <div>
            <h6 class="sub-text ml-3">Profile link</h6>

            <div class="input-group border-0 mb-3">
              <input type="text" class="form-control border-0" placeholder="http://www.qause.online:3000/dashboard">
              <div class="input-group-append border-0">
                <button class="btn btn-outline-secondary border-0" type="button" id="button-addon2"><i class="far fa-copy"></i></button>
              </div>
            </div>
          </div>
<!-- copy text input filed end  -->

<!-- intrest  -->
<div class="p-3 m-1" style="background-color: #f9fafb;">
  <h5 class="fw-600 sub-text"> Interest</h5>
  <div class="row">
    <button type="button" class="btn m-1 content-btn">content writing</button>
    <button type="button" class="btn m-1 content-btn">content</button>
    <button type="button" class="btn m-1 content-btn">content</button>
    <button type="button" class="btn m-1 content-btn">content</button>
    <button type="button" class="btn m-1 content-btn">content</button>
    <button type="button" class="btn m-1 content-btn">content</button>
    <button type="button" class="btn m-1 content-btn">content</button>
  </div>
</div>
<!-- interest End -->


<!-- social media  -->
<div>
  <h5 class="fw-600 sub-text m-3"> Social Media</h5>
  <div class="input-group border-0 mb-3">
    <div class="input-group-prepend border-0">
      <button class="btn  border-0" type="button" id="button-addon2"><i class="fab fa-facebook-f ptext"></i></button>
    </div>
    <input type="text" class="form-control border-0" placeholder="http://www.qause.online:3000/dashboard"
      aria-label="Recipient's username" aria-describedby="button-addon2">
  
  </div>
  <div class="input-group border-0 mb-3">
    <div class="input-group-prepend border-0">
      <button class="btn  border-0" type="button" id="button-addon2"><i class="fab fa-instagram ptext"></i></button>
    </div>
    <input type="text" class="form-control border-0" placeholder="http://www.qause.online:3000/dashboard"
      aria-label="Recipient's username" aria-describedby="button-addon2">
  
  </div>

  <div class="input-group border-0 mb-3">
    <div class="input-group-prepend border-0">
      <button class="btn  border-0" type="button" id="button-addon2"><i class="fab fa-twitter ptext"></i></button>
    </div>
    <input type="text" class="form-control border-0" placeholder="http://www.qause.online:3000/dashboard"
      aria-label="Recipient's username" aria-describedby="button-addon2">
  </div>
</div>


<!-- social media end  -->
        </div>
      </div>
    </div>
  </div>


  <!-- card  -->
  <section>
    
  </section>
  <!-- card end  -->
</div>