<div class="card active-card bg-yellow br-18 m-2" style="width: 260px;">
    <div class="media media-sec-card px-3  py-2">
        <img class="rounded-circle mr-2  " height="50" src="../../../../../assets/images/trust.jpeg"
            alt="Generic placeholder image" />
        <div class="media-body my-auto">
            <h6 class="m-0 fs-12">Light of life Trust</h6>
            <p class="m-0 fs-12">Haryana,India</p>
        </div>

    </div>
    <img src="../../../../../assets/images/cool-background.svg" class="card-img-top px-3 br-18" alt="...">

    <div class="card-body">
        <h5 class="fs-17 fw-600"> Design a new Logo</h5>
      <p class="fs-12">Design a new Logo</p>
        <!-- start rating  -->
            <div class="my-3">
                <div class="">
                    <div class="d-flex justify-content-start">
                        <div class="fs-12">
                            <i class="fas icon-c fa-star"></i>
                            <!-- <i class="fas icon-c fa-star"></i>
                            <i class="fas icon-c fa-star"></i>
                            <i class="fas icon-c fa-star"></i>
                            <i class="fas icon-c fa-star-half-alt"></i> -->
                        </div>
                        <div class="fs-12 fw-600 mx-2">
                            4.5 
                        </div>
                    </div>
                </div>
            </div>              
        <!-- end rating  -->

    </div>
</div>